{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="{% static "img/acmLogo.ico" %}"/>
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
	<script src="{% static "js/jquery.min.js" %}"></script>
	<title>Register | Checkmate 2016</title>
</head>
<body>
<div id="loginPage">
<a href="/login" style="text-decoration: none;">
	<div class='Content' style="cursor:pointer;height: 59px !important;
width: 58vw !important;
top: 7vh;
padding-top: 16px;">
    <h4>Login</h4></div>
    </a>
    {% if message %}
            <script type="text/javascript">
            alert('{{message}}');</script>
    {% endif %}
	<div class='Content'>
	<h4>Register</h4>
	<form id="register" name="RegistrationForm" action="" onsubmit="return validateForm()" method="POST">
	<div id="errorBox" style="
    font-family: 'Verdana';
    color: red;
    position: relative;
    top: 7px;
    left: 14px;
"></div>	
		<fieldset>
		<div class="wrapper" style="margin: 0 auto">
		<div class="input-container">			
			<input type='text' name="username" maxlength="10" required>
			<label for="username">Team Name</label>
			<div class='bar'></div>
		</div>
		</div>
		<div class="wrapper player1">
		<div class="input-container">
		<h5>Player 1</h5>
		</div>
		<div class="input-container">
			<input type='text' name="name1" required>
			<label for="name1">Name</label>
			<div class='bar'></div>
		</div>
		<div class="input-container">
			<input id="email1" type='text' name="email1" required>
			<label for="email1">Email Id</label>
			<div class='bar'></div>
		</div>
		<div class="input-container">
			<input type='text' name="idno1" required>
			<label for="idno1">ID No</label>
			<div class='bar'></div>
		</div>

		<div class="input-container">		
			<input type='text' name="phone1" required>
			<label for="phone1">Contact</label>
			<div class='bar'></div>
		</div>
		</div>
		<div class=" wrapper player2">
		<div class="input-container">
			<h5>Player 2</h5>		
		</div>
		<div class="input-container">	
			<input type='text' name="name2" >
			<label for="name2">Name</label>
			<div class='bar'></div>
		</div>
		<div class="input-container">
			<input id="email2" type='text' name="email2" >
			<label for="email2">Email Id</label>
			<div class='bar'></div>
		</div>
		<div class="input-container">
			<input type='text' name="idno2">
			<label for="idno2">ID No</label>
			<div class='bar'></div>
		</div>
		<div class="input-container">
			<input type='text' name="phone2" >
			<label for="phone2">Contact</label>
			<div class='bar'></div>
		</div>
		</div>
		<div class="wrapper" style="margin: 0 auto;clear: both;">
		<div class="input-container" >
			<input type='password' name="password" required>
			<label for="password">Password</label>
			<div class='bar'></div>
		</div>
		</div>
		<div class="button-container">
		<input type="submit" value="Sign Up" ></input>
		</div>
		</fieldset>
	</form>
	</div>
</div>

<script>/*
function validateForm(){
 var emailRegex = /^[A-Za-z0-9._]*\@[A-Za-z]*\.[A-Za-z]{2,5}$/;
 var formemail1 = $("#email1").val();
 var formemail2= $("#email2").val();
  
 if(!emailRegex.test(formemail1)){
    $("#email1").focus();
    $("#errorBox").html(" * Enter a valid email");
    return false;
  }
if(!emailRegex.test(formreemail2)){
    $("#email2").focus();
    $("#errorBox").html(" * Enter a valid email");
    return false;
 }
   
}
</script>
</body>
</html>
